.AddList ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AddList ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.AddList h2 {
  font-family: Permanent Marker;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 100px;
}

.AddList {
  text-align: center;
}