*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  min-height: 100vh;
  height: inherit;
  box-sizing: border-box;
  font-family: 'Roboto',
  sans-serif;
  font-size: 1.6rem;
  /* cursor: pointer; */
  color: white;
  background: linear-gradient(180deg, #DE9191 39.7%, #3FA3C3 100%);
  box-sizing: border-box;
}

/* ul,
li {
  list-style: none;
} */

a,
a::before,
a::after {
  color: inherit;
  text-decoration: none;
}

i {
  cursor: pointer;
}